body {
    background-color: #E4E6EB;
    font-family: 'Poppins', sans-serif;
    color: #1565D8;
  }
  
  .navbar-brand {
    img {
      max-height: 40px;
    }
  }

  .navbar-right{
    .navbar-nav {
      .nav-link {
        color :  #1F64C7


        &,active {
          font-weight: bold;
          color:  #1F64C7 !important;

        }
      }
    }
  }
  
.btn-navbar-right {
  margin-top: -24px !important;
  height: 83px;
  
  margin-bottom: -24px !important;
  margin-right: -18px !important;
  border-radius: 0;
}
  .btn-login {
    background-color: #1F64C7;
    color: #fff;

    border-radius: 0;
  
    &:hover {
      background-color: #2358A4;
      color: #fff;
    }
  }

  //header

  header {
    margin-top: -70px;
    padding : 200px a 165px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1, p {
      color: #fff;
    }

    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 48px;
      
    }

  
    
    .btn get-started {

      background-color: #16C748;
      color: #fff;

      &.hover {
        background-color: #16C748;
        color: #fff;
      }

    }
  }


  //statitik
  .section-stats {
    margin-top: -50px;
   
    .stats-detail {
      padding-top: 15px;
      background-color: #fff;
      padding-left: 62px;

    }

    h2 {
      font-size: 36px;
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      font-weight: lighter;
    }
  }

  //Collection
  .section-collection {
    min-height: 540px;
    background: #1565D8;
    margin-top: -50px;
    margin-bottom: -230px;
  
    .section-collection-heading {
      margin-top: 150px;
  
      h2,
      p {
        color: #fff;
      }
  
      h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
      }
    }
  }

  .section-collection-content {
    .section-collection-travel {
  
      .card-collection {
        min-height: 380px;
        background: #fff;
        color: #fff;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
  
        .travel-country {
          font-size: 18px;
          color: #fff;
        }
  
        .travel-location {
          font-size: 26px;
          color: #fff;
        }
  
        .travel-button {
          .btn-travel-details {
            background-color: #FF9E53;
            color: #fff;
  
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  
